@media(max-width: 592px) {
    section{
        margin-left: 50px;
    }
    
    }
    @media(min-width:1920px){
        body{
            margin-bottom:50px;
            }
    }
    @media(max-width:592px){
        .footerAfterBefore::before{
            content: "";
            width: 44.8%;
            height: 5px;
            position: absolute;
            left: -53px;
            top: 39px;
            background-color: white;
        }
        .footerAfterBefore::after{
            content: "";
            width: 35.8%;
            height: 5px;
            position: absolute;
            right: 0px;
            top: 39px;
            background-color: white;
        }
    
    }
    @media(max-width:768px){
        .partMiddle{
            margin-left:42px;
        }
    }